/* You can add global styles to this file, and also import other style files */

/* reset file */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "sfui-400";
    font-size: 14px;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

.baguetteBox-button:focus,
.baguetteBox-button:hover,
.glen-rooms .owl-carousel .owl-nav button {
    outline: none;
}


/* reset file */

.clear {
    clear: both !important;
}

button {
    outline: none !important;
    cursor: pointer;
    &:focus {
        outline: none !important;
    }
}

a {
    cursor: pointer;
}

p {
    line-height: 2;
}


/* Scroller */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #000;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #6CCAA9;
    box-shadow: inset 0 0 5px grey;
}

.no-gutter {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: sfui-400;
    src: url("assets/fonts/sfui-400.ttf");
}
@font-face {
    font-family: sfui-500;
    src: url("assets/fonts/sfui-500.ttf");
}
@font-face {
    font-family: sfui-600;
    src: url("assets/fonts/sfui-600.ttf");
}